body{
    

}

p{
    color: aqua;
    background-color: blueviolet;
}
.jk{
    color: brown;
    font-size: 30px;
    background-color: antiquewhite;
    height: 150px;
    border: 1px solid rgb(249, 17, 17);
    margin: 20px;
    padding: 15px;
    text-align:center;
    align-content: center;
    

}
#jk1{
    border: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
#box{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
#box1{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;
    display:inline 

}
#box2{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
#box3{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
#box4{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
