body{
    

}

p{
    color: aqua;
    background-color: blueviolet;
}
.jk{
    color: brown;
    font-size: 30px;
    background-color: antiquewhite;
    height: 150px;
    border: 1px solid rgb(249, 17, 17);
    margin: 20px;
    padding: 15px;
    text-align:center;
    align-content: center;
    

}
#jk1{
    border: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
#box{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
#box1{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;
    display:inline 

}
#box2{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
#box3{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
#box4{
    order: 2px solid rgb(9, 4, 4);
    border: 2px solid red;
    padding: 5px;
    margin: 20px;
    height: 300px;
    text-align: center;
    align-content: center;

}
body{
    align-content: center;
    text-align: center;
}
.c1{
    height: 100px; width: 100px;
    background-color: palegreen;
    color: green;
    padding: 5px;
    border: dashed green;
    margin: 5px;
    text-align: center;
    align-content: center;
    display: inline-block;
}
#id2{
    height: 100px; width: 100px;
    background-color: paleturquoise;
    color: blue;
    padding: 5px;
    border: dashed turquoise;
    margin: 5px;
    text-align: center;
    align-content: center;
}
#id3{
    height: 100px; width: 100px;
    background-color: palevioletred;
    color: purple;
    padding: 5px;
    border: dashed violet;
    margin: 5px;
    text-align: center;
    align-content: center;
}
#id4{
    height: 100px; width: 100px;
    background-color: palegoldenrod;
    color: red;
    padding: 5px;
    border: dashed gold;
    margin: 5px;
    text-align: center;
    align-content: center;
}